# Byte-compiled / optimized / DLL files
__pycache__
*.py[cod]
*$py.class

# Distribution / packaging
.Python
build/
dist/
var/

# Visual Studio Code
.vscode
snippets

# Installer logs
pip-log.txt
.log

# Unit test / coverage reports
.cache
coverage.xml
*.cover

# Environments
.env
