# Visual Studio Code
.vscode
snippets
*.code-workspace

# Installer logs
pip-log.txt
.log

# Environments
.env

# Ignore test code
/test/

# Ignore dev code
/dev/

# Ignore build code
/build/

# Ignore dist code
/dist/
